<h1>AdminPage#users-index</h1>
<p>Find me in app/views/admin_page/users-index.html.erb</p>
<table>
  <thead>
    <tr>
      <th class="" >ID</th>
      <th>Name</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        
        
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
