
<div class= "col-xs-12 post-new">
	<h2 class="page-header">ノートを編集！</h2>

		<%= render 'form', post: @post %>
	<div class="text-center">
	<%= link_to "TOPに戻る" , root_path,class:"btn btn-primary" %>
	</div>
</div>
