/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
 position: relative;
 min-height: 100%;
}


header .navbar-left span {
    font-size: 20px;
    padding-top: 10px;
    color: black;
}


header .top-title span {
  background-color:#FF5F17;
	color: black;

}

body{
	background-image: image-url('/images/mokuseinotukue.jpg');
  background-size: cover;
  font-family:Hiragino Maru Gothic Pro;

}


.navbar{
  background-color: white;
	color: black;
}
.navbar-default .navbar-nav > li > a {
color: black;
}



.footer {
  margin-top:20px;
  width: 100%;
  height: 60px;
  background-color: white;
  position:absolute;
  bottom:-60px;
}
.text-muted {
    color: black;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
 
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.notice{
  color: white;
}

.search_form{
	width: 100px;
}

.index-box{
	background-color: rgba(255,255,255,0.5);
  color:black;
  border-radius:15px;
}

.user-info-box{
  background-color: rgba(255,255,255,0.5);
  border-radius:15px;
}

.user-info-name{
  padding-top:20px;
  color:black;
}

.side-bar{
  font-family:Hiragino Maru Gothic Pro;
  background-color: rgba(255,255,255,0.5);
  border-radius:15px;
}

.footer-space{
  height:30px;
}

.table{
  font-family:Hiragino Maru Gothic Pro;
}

.user-name{
  color:black;
}

.text-center{
  margin-top:15px;
  margin-bottom: 15px;
}

.devise-box{
  background-color: rgba(255,255,255,0.5);
  border-radius:15px;
  text-align: center;
    width: 300px;
    margin: 175px auto;
    padding: 50px 0;
}