// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#markdown_editor {
  overflow: hidden;

  :after {
    clear: both;

  }
  .box{
    
    float: left;
    height: auto;
    width: 600px;
    border-radius:15px;
  }
  #preview {
    
    padding: 1px;
    border: solid 1px black;
    height: 406px;
    width: 600px;
    word-wrap: break-word;
    line-height: 1.2;
    overflow: auto;
    border-radius:15px;
  }
}

.p-item{
  border-bottom: solid 1px grey;
}



  

.post-show-content{
  margin-top:30px;
  border-bottom: solid 1px grey;
}






.p-comment-form{
  margin-top:50px;
  width:800px;
  height:150px;

}