// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#markdown_editor {
  overflow: hidden;

  :after {
    clear: both;

  }
  .box{
    float: left;
    height: auto;
    width: 622px;
   
    border-radius:15px;
    background-color:rgba(255,255,255,0.5);
  }
  #preview {
    
    padding: 1px;
    border: solid 1px black;
    height: 406px;
    width: 622px;
    word-wrap: break-word;
    line-height: 1.2;
    overflow: auto;
    border-radius:15px;
    background: 
        linear-gradient(90deg, transparent 29px, transparent 31px),
        linear-gradient(90deg, transparent 49px,  transparent 51px),
        linear-gradient(rgba(153,204,255,.3) .1em, transparent .1em);
    background-size: 100% 1.5em;
  background-color: white;
 
  }
}

.post-new{
  background-color:rgba(255,255,255,0.4);
}
.post-box{
  background-color:rgba(255,255,255,0.5);
  color:black;
  border-radius:15px;
}
.new-post-title{
  border-radius:5px;
  width:500px;
  heght:20px;
}
.new-post-tag{
  border-radius:5px;
  width:400px;
  heght:20px;
}
.p-item {
    border-bottom: solid 1px black;
    color: black;
    padding-bottom: 10px;
}

.post-box{
 margin-top:30px;
  border-bottom: solid 1px black;
  word-wrap: break-word;
  background: 
        linear-gradient(90deg, transparent 29px, transparent 31px),
        linear-gradient(90deg, transparent 49px,  transparent 51px),
        linear-gradient(rgba(153,204,255,.3) .1em, transparent .1em);
    background-size: 100% 1.5em;
  background-color: white;
}

.chapter-title{
  border-top: ridge;
}


.p-comment{
  margin: 30px 30px;
  padding: 10px;
  border: thin solid ;
  border-radius:15px;
}

.p-comment-form{
  margin-top:30px;
  width:650px;
  height:150px;
}
.btn btn-default btn-sm{
  margin: 0 auto;
}